@model ControlEscolar.Models.Pago

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroConsecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroConsecutivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
