@model IEnumerable<ControlEscolar.Models.Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroConsecutivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConceptoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroConsecutivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConceptoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PagoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PagoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PagoId })
        </td>
    </tr>
}

</table>
