@model IEnumerable<ControlEscolar.Models.Alumno>

@{
    ViewBag.Title = "Alumnos por Carrera";
}

<h2>Alumnos en Carrera</h2>

<p>
    @Html.ActionLink("Regresar a la lista de carerras", "Index", "Carreras")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nombre) <!-- Cambia este nombre según tu modelo -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ApellidoPaterno) <!-- Cambia este nombre según tu modelo -->
        </th>
        <th></th>
    </tr>

    @foreach (var alumno in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => alumno.ApellidoPaterno)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", "Alumnos", new { id = alumno.AlumnoId }, null)
            </td>
        </tr>
    }
</table>
